.navbar {
  background-color: #cfd8dc;
}

.navbar div:last-of-type {
  margin-top: auto;
  margin-left: auto;
}

.navbar-no-margin {
    background-color: #cfd8dc;
  }

.species-text {
  font-style: italic;
  margin-top: -5px;
}

.status-text {
  background-color: lightgreen;
  margin-top: -10px;
}

.admin-text {
    font-style: italic;
    margin-top: -15px;
}