.navbar {
  background-color: #cfd8dc;
  height: 21%;
}

.navbar div:last-of-type {
  margin-top: auto;
  margin-left: auto;
}

.navbar-no-margin {
    background-color: #cfd8dc;
  }

.species-text {
  font-style: italic;
  margin-top: -5px;
}


.availability-text {
    background-color: lightblue;
    text-align: center;
    margin-top: -10px;
    width: 150px;
  }
  

.status-text {
  background-color: lightgreen;
  text-align: center;
  margin-top: -10px;
  width: 150px;
}

.admin-text {
    font-style: italic;
    margin-top: -15px;
}

.dropdown {
    margin-bottom: -5px;
}